{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    ["svelteflat", [
      { 
        "libraryName": "svelte-flat",
        "styleLibraryName": "theme-default", 
        "typoCss": false
      }
    ]],
    ["component", [
      { 
        "libraryName": "mint-ui",
        "style": true
      }
    ]]
  ]
}