html, body, #app {
  height: 100%;
  font-size: 16px;
  user-select: none;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, button, input {
  color: inherit;
}

a {
  color: #5D98FC;
  &:hover {
    text-decoration: none;
  }
}

button, input {
  &:focus {
    outline: 0;
  }
}

@media (max-width: 375px) {
  html, body, #app {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  html, body, #app {
    font-size: 12px;
  }
}