html, body, #app {
  height: 100%;
  font-size: 14px;
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  user-select: none;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, button, input {
  color: inherit;
  font-weight: 300;
  font-family: inherit;
}

a {
  color: #5D98FC;
  &:hover {
    text-decoration: none;
  }
}

button, input {
  &:focus {
    outline: 0;
  }
}

@media (max-width: 320px) {
  html, body, #app {
    font-size: 12px;
  }
}

.nov {
  color: #026;
  background: #9DF;
}
.reg {
  color: #440;
  background: #FFC;
}
.exp {
  color: #600;
  background: #FCC;
}
.mas {
  color: #306;
  background: #99F;
}
.bsc {
  color: #009100;
  background: #CFC;
}
.adv {
  color: #CA7400;
  background: #FFC;
}
.ext {
  color: #FF3737;
  background: #FCC;
}